body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.servicemaindiv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
    gap:30px;
}

/* .servicemaindiv> div{
    margin-left: 30px;
} */

.firstcol
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    background-color: black;
    color: white;
}

.secondcol
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:40px;
}
/* .secondcol>div{
    margin-bottom: 40px;
} */

.sec1, .sec2
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
    width: 300px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
}
/* 
.sec1>div , .sec2>div{
    padding-left: 30px;
} */

.thirdcol
{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    background-color: black;
    color: white;

    /* #b899f9 #5603fc */
}

.serviceicon
{
    color:black ;
    background-color: white;
    border: 1px solid white;
    border-radius: 60px;
    font-size: 35px;
    width: 60px;
    padding-left: 10px;
    padding-top: 2px;
}